$main-bg: #384047;
$second-bg: #1e2b35;
$third-bg: #314555;
$light-bg: #f1f1f1;
$white-bg: #ffffff;
$blue-bg: #337ab7;
$green-bg: #2ed87b;

$blue-text: #647d89;
$gray-text: #d4d4d4;
$darkgray-text: #97a4ad;
$darkergray-text: #384047;
$green-text: #2ed87b;
$white-text: #ffffff;
$red-text: #ff0000;
$orange-text: #ff5500;