.header {
  background: #ffffff;
  margin-top: 1.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &--offer {
    justify-content: flex-start;
  }

  &__img {
    margin-right: 1rem;
    height: 4rem;
  }
  
  &__title {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $main-bg; 
    margin-top: -0.5rem;
    
    &--small {
      font-size: 1.1rem;
    }
    
    &--offer {
      color: $gray-text;
    }
  }
}

.menu {
  background: $third-bg;
  padding: 1.5rem 1rem 0;
  overflow: hidden;

  @include mq(45rem) {
    padding-left: calc(50% - 21rem);
  }

  .menu-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-bottom: 1rem;

    @include mq(60rem) {
      display: none;
    }
  
    &__line {
      width: 32px;
      height: 2px;
      border-radius: 1px;
      margin-bottom: 0.4rem;
      background: #ffffff;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    margin-bottom: 0.5rem;
    
    &--small {
      margin-bottom: 0;
      border-bottom: 1px solid $light-bg;
      z-index: 100;
      
      @include mq(60rem) {
        position: absolute;
        border: 0;
      }
    }
    
    &--main {
      
      @include mq(60rem) {
        flex-direction: row;
        margin-bottom: 0;
      }
    }
    
    &.opened {
      max-height: 300px;
      transition: max-height 0.3s ease-in;
    }
  }
  
  &__item {
    font-size: 0.8rem;
    font-weight: 500;
    background: $white-bg;
    transition: all .4s ease-in-out;

    @include mq(60rem) {
      background: transparent;
      color: $white-text;
    }
    
    &:hover {
      color: $green-text;
      background: $light-bg;
      
      @include mq(60rem) {
        color: $white-text;
        background: $green-bg;
      }
    }
    
    &-small {
      padding: 0;
      padding-left: 2rem;
      border-bottom: 1px solid $light-bg;
    }
    
    &--color {
      color: $green-text;
      background: $light-bg;
    }
  }
  
  &__link {
    padding: 0 1rem;
    position: relative;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;

    @include mq(60rem) {
      height: 3.75rem;
      line-height: 3.75rem;
    }
    
    &-small {
      display: flex;
      align-items: center;
      margin: 0.1rem 0;
      white-space: nowrap;
    }
  }

  &__img {
    display: inline;
    margin-right: 0.2rem;
  }
}