.menu {
  background: $third-bg;
  padding: 1.5rem 1rem 0;
  overflow: hidden;

  @include mq(45rem) {
    padding-left: calc(50% - 21rem);
    padding-right: calc(50% - 21rem);
  }

  @include mq(60rem) {
    overflow: initial;
  }

  @include mq(62rem) {
    padding-left: calc(50% - 29rem);
  }

  @include mq(75rem) {
    padding-left: calc(50% - 35rem);
  }

  &-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-bottom: 1rem;

    @include mq(60rem) {
      display: none;
    }
  
    &__line {
      width: 32px;
      height: 2px;
      border-radius: 1px;
      margin-bottom: 0.4rem;
      background: #ffffff;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    
    @include mq(60rem) {
      flex-direction: row;
      margin-bottom: 0;
      max-height: initial;
    }
    
    &.opened {
      max-height: 300px;
    }
    
    &--submenu {
      margin-bottom: 0;
      border-bottom: 1px solid $light-bg;
      z-index: 1;
      background: $white-bg;
      max-height: initial;
      
      @include mq(60rem) {
        flex-direction: column;
        position: absolute;
        left: calc(50% - 21rem);
        padding: 1.25rem 0;
        border: 0;
        display: none;
      }
      
      @include mq(62rem) {
        left: calc(50% - 29rem);
      }
      
      @include mq(75rem) {
        left: calc(50% - 35rem);
      }
    }
  }

  &__item {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    background: $white-bg;
    color: $dark-text;
    position: relative;
    transition: all .3s ease-in-out;
    
    &:hover {
      color: $green-text;
      background: $light-bg;
    }
    
    @include mq(60rem) {
      color: $white-text;
      background: transparent;
      position: initial;
      
      &:hover {
        color: $white-text;
        background: $green-bg;
      }
    }
    
    &--open {
      max-height: 42.1875px;

      &.opened {
        max-height: 13rem;
      }
      
      &:hover .menu__list--submenu {
        
        @include mq(60rem) {
          display: flex;
        }
      }
    }
    
    &--submenu {
      display: flex;
      align-items: center;
      white-space: nowrap;
      border-bottom: 1px solid $light-bg;
      -webkit-text-size-adjust: 100%;
      
      @include mq(60rem) {
        background: $white-bg;
        color: $dark-text;
        border: 0;
        
        &:hover {
          color: $green-text;
          background: $white-bg;
        }
      }
    }
    
    &.active {
      color: $green-text;
      background: $light-bg;
      
      @include mq(60rem) {
        color: $white-text;
        background: $green-bg;
      }
    }
  }
  
  &__link {
    display: block;
    padding: 0.85rem 1.25rem;

    @include mq(60rem) {
      display: inline-block;
      padding: 1.5rem 1.25rem;
    }
    
    &--submenu {
      padding: 0 0 0 1.25rem;
      margin-right: 1.25rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  
  &__img {
    display: inline;
    margin-right: 0.2rem;
  }
}